p{
  font-family: "Titillium Web",sans-serif;
}
ul li{
  font-family: "Titillium Web",sans-serif;
}
h1{
  font-family: "Titillium Web",sans-serif;
}
h2 {
  font-family: "Titillium Web",sans-serif;
}
h3{
  font-family: "Titillium Web",sans-serif;
}
.put_technology h2 {
  font-size: 22px;
    color: #000;
    font-weight: 600;
    line-height: 23px;
    margin: 0px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 35px;
}
.put_technology p {
  font-size: 18px;
  color: #000;
  line-height: 24px;
  text-align: center;
  margin: 0px;
}
.our-achivement h2 {
  font-size: 22px;
    color: #000;
    font-weight: 600;
    line-height: 23px;
    margin: 0px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 35px;
}
.our-achivement p {
  font-size: 18px;
  color: #000;
  line-height: 24px;
  text-align: center;
  margin: 0px;
}
.ourstory-text-right h2 {
  font-size: 22px;
  font-weight: 600;
  color: #3e3af5;
  margin: 0;
  padding-bottom: 8px;
  text-align: right;
}
.achivment-title {
  font-size: 15px;
  font-weight: 600;
}
.achivment-cotent{
  background-color: #e6e6e6;
  padding-bottom: 40px;
}
.our-achivement {
  background-color: #e6e6e6;
} 
.achivment-cotent ion-item {
  margin-bottom: 10px;
}
.our-mission h2 {
  font-size: 22px;
    color: #000;
    font-weight: 600;
    line-height: 23px;
    margin: 0px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 35px;
}
.our-mission p {
  font-size: 18px;
  color: #000;
  line-height: 24px;
  text-align: center;
  margin: 0px;
}
.our-mission-banner {
  padding-top: 25px;
  padding-bottom: 25px;
}
.mission-cone img {
  width: 50px;
}
ion-card.mission-inner {
  display: flex;
  align-items: center;
  padding-top: 10px;
  flex-direction: column;
  text-align: center;
}
.mission-content {
  background-color: #d5e5fb;
  padding: 10px 0px;
}
