ion-tab-button.birthday-btn img {
    width: 25px;
    height: 25px;
    margin-bottom: 5px;
}
ion-tab-button.festval_btn img {
    width: 25px;
    height: 25px;
    margin-bottom: 5px;
}
ion-tab-button.newyear_btn img {
    width: 25px;
    height: 25px;
    margin-bottom: 5px;
}
